<!doctype html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script type=text/javascript src={{ url_for('static', filename='timer.js') }}></script>
    </head>
    <body onload="startTime({{ t0_timestamp }})">
        <div id="nav">
            <a href="{{ prev }}">&lt;prev</a> | <a href="{{ next }}">next&gt;</a>
        </div>
        <h1>{{ rocket_name }}</h1>
        <div id="missions">
            {% if missions %}
                {% for mission in missions %}
                <a href="/launch/{{ key }}/mission/{{ mission.mission_key }}">
                    <span class="mission-name">{{ mission.mission_name }}</span>
                </a>
                {% endfor %}
            {% else %}
                <span class="mission-name">Unknown mission(s)</span>
            {% endif %}
        </div>
        {% if rocket_img %}
            <div id="rocket-img">
                <img src="{{ rocket_img }}">
            </div>
        {% endif %}
        <div class="t0">
            T-0:
            {% if tbd_date or tbd_time %}
                TBD {{ t0_month }}
            {% else %}
                {{ t0_local }}
                <div id="timer"></div>
            {% endif %}
        </div>
        <span id="status">Status: {{ status_desc }}</span>
        <div id="lower">
            <div id="map-box">
                <div id="location"><a href="/map/{{ key }}">{{ location }}</a></div>
            </div>
        </div>
    </body>
</html>
