body {
    width: 300px;
    margin: 2px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}

#missions a {
    color: black;
}

.mission-name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1px;
}

.mission-type {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 1px;
}

#mission-desc {
    margin-top: 7px;
    font-size: 15px;
}

#nav a {
    font-size: 15px;
    color: #9C9C9C;
}

#location {
    font-size: 15px;
}

.T0 {
    font-size: 18px;
}

#status {
    font-size: 13px;
}

#latlong {
    font-size: 10px;
}


#rocket-img {
    max-width: 100px;
    max-height: 100px;
}
