body {
    width: 310px;
    margin: 2px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

#map-title {
    font-size: 15px;
    font-weight: bold;
    width: 250px;
    height: 40px;
}

.largemap {
    height: 195px;
    width: 315px;
}

.minimap {
    height: 100px;
    width: 190px;
}

#missions a {
    color: black;
}

.mission-name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1px;
}

.mission-type {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 1px;
}

#mission-desc {
    margin-top: 7px;
    font-size: 15px;
}

#nav {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2000;
    background: white;
    padding: 5px;
}

#nav a {
    font-size: 15px;
    color: #9C9C9C;
    text-decoration: none;
}

#location {
    font-size: 15px;
}

#location a {
    color: black;
}

.T0 {
    font-size: 16px;
}

#status {
    font-size: 13px;
}

#latlong {
    font-size: 10px;
}

#rocket-img {
}

#rocket-img img {
    float: right;
    height: 200px;
    width: 110px;
    object-fit: cover;
    margin-top: 5px;
}

#lower {
    width: 300px;
}

#map-box {
}

.leaflet-control-attribution {
    font-size: 8px !important;
}
